<a href="https://colab.research.google.com/github/leeryleprechaun/MSDS_Practicum_Public/blob/main/Week_2_EDA_Public.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Initial EDA
###### C6.5_C2 Account for your organization’s gross global Scope 3 emissions, disclosing and explaining any exclusions. - Evaluation status
###### C6.5_C2_Account for your organization’s gross global Scope 3 emissions, disclosing and explaining any exclusions. - Metric tonnes CO2e
###### C6.5_C3_Account for your organization’s gross global Scope 3 emissions, disclosing and explaining any exclusions. - Emissions calculation methodology
###### C6.5_C4_Account for your organization’s gross global Scope 3 emissions, disclosing and explaining any exclusions. - Percentage of emissions calculated using data obtained from suppliers or value chain partners

In [ ]:

### Code used when notebook was on my local machine
# Loading in packages and the raw date
#import pandas as pd
#import numpy as np
#import matplotlib.pyplot as plt
#import seaborn as sns
#import tkinter

#%matplotlib inline

#df = pd.read_csv('C6.csv')

#df

In [ ]:
# Loading in packages and the raw date
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import tkinter

%matplotlib inline

url='https://drive.google.com/file/d/1IUydVVPtD1AMlUoWzCHDa6PzxbYFd2BD/view?usp=share_link'
url='https://drive.google.com/uc?id=' + url.split('/')[-2]
df = pd.read_csv(url)

In [ ]:
df.info()

In [ ]:
# Replacing all of the "Question not applicable with NaN"
df = df.replace('Question not applicable', 'NaN')
df.head(25)

In [ ]:
#data frame of just those companies that listed scope three emissions as Relavant and Calculated
relevant_df = df[df.C6_5_C1 == ("Relevant, calculated")]
relevant_df.drop(['Public','Response received date', 'Response received date', 'Primary questionnaire sector', 'Row', 'RowName', 'C6_5_C1', 'C6_5_C3', 'C6_5_C5'],axis=1,inplace=True)

relevant_df['C6_5_C2'] = relevant_df['C6_5_C2'].astype(float)
relevant_df

In [ ]:
#Companies that listed scope three emissions as Relevant, but have not year calculated them
relevant_nocalc_df = df[df.C6_5_C1 == "Relevant, not yet calculated"]
relevant_nocalc_df

In [ ]:
#Creating a clean compy of the data, filtering it by relevant and calculated businesses, converting the emissions data to
# a numerical value, and dropping unwanted columns
df2 = df

relevant_cal = df2[df2.C6_5_C1 == "Relevant, calculated"]

relevant_cal['C6_5_C2'] = relevant_cal['C6_5_C2'].astype(float)

relevant_cal.drop(['Public','Response received date', 'Response received date', 'Row', 'Primary questionnaire sector', 'C6_5_C1', 'C6_5_C3', 'C6_5_C5'],axis=1,inplace=True)
relevant_cal.head(5)

In [ ]:
#Pivot table to list all of the areas of impact and the emission values
pivot_df = relevant_cal.pivot(index='Organization', columns='RowName', values = ['C6_5_C2'])
pivot_df.head(10)

In [ ]:
#replacing 'nan' with a zero value
pivot_df = pivot_df.replace('Nan', 0)
pivot_df.head(5)

In [ ]:
#Summing emissions values
total_scope_3 = pivot_df

total_scope_3['Total Scope 3 Emissions'] = total_scope_3.sum(axis=1)

total_scope_3.head(50)

In [ ]:
total_scope_3.info()

In [ ]:
# creating a list of all the organizations, and then limiting them to 1 copy of each
df_organization = relevant_cal.drop_duplicates(subset=['Organization'], keep='first')
df_organization.info()

In [ ]:
df_organization.head(10)

In [ ]:
combined = pd.merge(df_organization, total_scope_3 , on = 'Organization', how = 'outer')
combined

In [ ]:
# dropping some rows that I do not want
df_final = combined
df_final.drop(['RowName', 'C6_5_C2', 'C6_5_C4'],axis=1,inplace=True)
df_final

In [ ]:
namesList = ['business_travel', 'capital_goods', 'downstream_assets', 'downstream_trans', 'employee_comute', 'end_of_prod_life', 'franchises','non_scope_1_2_energy','investment','downstream','upstream','precessing_products','purchased_goods_and_services','upstream_assets','upstream_trans','sold_product_use','operations_waste','total_scope_3_emissions']
df_final.columns = df_final.columns[:6].tolist() + namesList
df_final.head(10)

In [ ]:
df_final.info()

In [ ]:
df_final.describe()

In [ ]:
# saving file to csv
df_final.to_csv('scope_3_emissions.csv', header=True, index=True)

In [ ]:
# Loading the certification data

url='https://drive.google.com/file/d/1vyfqBl3NNttgM2ucy7w3xippsvk4hQEa/view?usp=share_link'
url='https://drive.google.com/uc?id=' + url.split('/')[-2]

cert_df = pd.read_csv(url)
cert_df.head(5)

In [ ]:
namesList = ['scope_3_category', 'verification_cycle_in_place', 'report_status', 'verification_type', 'statement']
cert_df.columns = cert_df.columns[:3].tolist() + namesList
cert_df.head(10)

In [ ]:
#certification data head
cert_df.head(10)

In [ ]:
# creating a list of all the organizations, and then limiting them to 1 copy of each
cert_df = cert_df.drop_duplicates(subset=['Organization'], keep='first')
cert_df.head(10)

In [ ]:
# Making sure that the organization names from the relevant and calculated data are still loading
df_organization

In [ ]:
df_organization.info()

In [ ]:
# I am going to use the organization names to filter the verification frame
# right_on=['Account number', 'Organization', 'Country', 'Primary activity', 'Primary sector', 'Primary industry'])
merged = pd.merge(df_organization, cert_df, how='inner', left_on=['Account number', 'Organization'], right_on=['Account number', 'Organization'])
merged.drop(['RowName_x', 'C6_5_C2', 'C6_5_C4', 'RowName_y'],axis=1,inplace=True)

# merged.drop('RowName_x')

merged

In [ ]:
# Looking at my scope 3 summed data again
total_scope_3

In [ ]:
combined = pd.merge(merged, total_scope_3 , on = 'Organization', how = 'inner')
combined.head(5)

In [ ]:
# renaming the labels
df_final = combined
namesList = ['business_travel', 'capital_goods', 'downstream_assets', 'downstream_trans', 'employee_comute', 'end_of_prod_life', 'franchises','non_scope_1_2_energy','investment','downstream','upstream','precessing_products','purchased_goods_and_services','upstream_assets','upstream_trans','sold_product_use','operations_waste','total_scope_3_emissions']
df_final.columns = df_final.columns[:11].tolist() + namesList
df_final.head(10)

In [ ]:
df_final.info()

In [ ]:
# saving file to csv
df_final.to_csv('verification_relevant_reported.csv', header=True, index=True)

In [ ]:
df3 = df_final
df3.head(5)

# Analysis of File
#### I would now like to take a look at some of the information in the data file

### *This is largerly code used by Kellen that I have reused with the current smaller data set

In [ ]:
# Group by accounts to see how many accounts are in each Primary Sector
df_account = df3.groupby(['Primary sector'])['Account number'].count().reset_index()
df_account

In [ ]:
# Group by accounts to see how many accounts are in each Country
df_account = df3.groupby(['Country'])['Account number'].count().reset_index()
df_account

In [ ]:
# Group by accounts to see how many accounts are in each Country
df_account = df3.groupby(['Primary industry'])['Account number'].count().reset_index()
df_account

In [ ]:
#Average CO2 emissions by sector
df_mean = df3.groupby(['Primary sector'])['total_scope_3_emissions'].mean().reset_index()
df_mean = df_mean.sort_values(by = 'total_scope_3_emissions')

df_mean

In [ ]:
# Normalize average CO2 emissions by number of accounts 
df_mean['CO2_normalized_to_accounts'] = df_mean['total_scope_3_emissions'] /df_account['Account number']

In [ ]:
# Plot (normal and log scale) Average Metric Tonnes CO2 by Primary Sector 

from matplotlib import pyplot as plt
plt.style.use('fivethirtyeight')
import numpy as np
import seaborn as sns
import os


df_mean_sorted = df_mean.sort_values('total_scope_3_emissions')
fig, (ax1, ax2) = plt.subplots(1, 2, figsize=(20, 20))
ax1.barh(y = df_mean_sorted['Primary sector'], width = df_mean_sorted['total_scope_3_emissions'])
ax2.barh(y = df_mean_sorted['Primary sector'], width = df_mean_sorted['total_scope_3_emissions'])
plt.xscale("log")
fig.tight_layout()
plt.suptitle('Average Metric Tonnes CO2 by Primary Sector') 
plt.show()

In [ ]:
# Taking a look at the data frame columns again
df3.head(2)

In [ ]:
plt.figure(figsize=(15,15))
sns.heatmap(df3, cmap="crest", annot=True)
plt.show()

# Week 2 Summary
###### There are about 3300 companies that listed their scope three emissions as relevant and calculated.
###### There are about 1000 companies that have verified these numbers in some way