<a href="https://colab.research.google.com/github/leeryleprechaun/MSDS_Practicum_Public/blob/main/Week_3_EDA_Public.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Going to take a look at the smaller data set and play around with it a little
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

# Loading in THE ORIGINAL C6 data, I want to take a look at the "Relevant, Calculated" Columns againt
url=''
url='https://drive.google.com/uc?id=' + url.split('/')[-2]
df = pd.read_csv(url)
df.head(2)

In [ ]:
# Taking a look at the industries aggregated
group = df.groupby(['primary_sector'])['Account numberx'].count().reset_index()
group

                                       primary_sector  Account numberx
0                                       Air transport               10
1                          Bars, hotels & restaurants                7
2                                    Biotech & pharma               29
3                                   Cement & concrete                4
4                                           Chemicals               54
5                      Commercial & consumer services               10
6                                        Construction               29
7                                  Convenience retail                9
8                                Discretionary retail               21
9                   Electrical & electronic equipment               96
10                            Energy utility networks               14
11                           Entertainment facilities                3
12                                 Financial services              102
13                              Fish & animal farming                5
14                         Food & beverage processing               35
15                              Health care provision                2
16                          IT & software development               35
17                        Industrial support services                7
18                   Intermodal transport & logistics                7
19            Land & property ownership & development                8
20                       Leisure & home manufacturing                5
21                                Light manufacturing               17
22                                   Marine transport                5
23   Media, telecommunications & data center services               28
24                       Medical equipment & supplies               14
25                       Metal products manufacturing               24
26                 Metal smelting, refining & forming               18
27                            Metallic mineral mining                9
28                               Non-energy utilities                5
29                  Oil & gas extraction & production                9
30                               Oil & gas processing                5
31                                Oil & gas retailing                1
32                 Oil & gas storage & transportation                1
33                                    Other materials                4
34                                     Other services               10
35                         Paper products & packaging                8
36                      Plastic product manufacturing                8
37                                  Powered machinery               41
38                        Print & publishing services                7
39                                     Rail transport                5
40                         Renewable energy equipment                4
41                         Renewable power generation                6
42                                     Road transport                2
43                  Specialized professional services               11
44                            Textiles & fabric goods                9
45                           Thermal power generation               14
46                                            Tobacco                5
47  Trading, wholesale, distribution, rental & lea...               19
48                           Transportation equipment               18
49                           Web & marketing services                6
50                             Wood & paper materials                4
51                             Wood & rubber products                1

# Status
#### looked at the data in xcel to determine
That gives us a list of about 933 companies that have revenue values

That list drops to 810 when you remove companies that have no type of scope 3 verification
Of those 810 companies 634 have values listed for purchased goods and services
Of those 810 companies 325 have values listed for Use of sold products
Of those 810 companies 305 have values listed for both Purchased goods and services AND Use of Sold Products

In [ ]:
# Looking at my list of the smallest frame
url='https://drive.google.com/file/d/1Q1Sx6j_fU_MywleZdviX9CG0aZskEHLh/view?usp=sharing'
url='https://drive.google.com/uc?id=' + url.split('/')[-2]
smalldf = pd.read_csv(url)
smalldf.head(2)

In [ ]:
# Taking a look at the industries aggregated
group = smalldf.groupby(['primary_sector'])['revenue / emissions'].mean().reset_index()
group.sort_values(by='revenue / emissions')
group.sort_index()

In [ ]:
# Taking a look at the industries aggregated
group = smalldf.groupby(['primary_activity'])['revenue / emissions'].mean().reset_index()
group.sort_values(by='revenue / emissions')

           primary_activity  revenue / emissions
9     Baked goods & cereals            40.649082
46          Iron ore mining            76.247902
57     Oil & gas extraction           112.341171
30         Engines & motors           161.478255
53  Nitrogenous fertilizers           219.570049
..                      ...                  ...
63          Other financial         48116.481510
26    Electronic components        133497.940477
68           Paper products        254131.698200
44                Insurance        325367.507130
10                    Banks        436161.318030

[93 rows x 2 columns]

In [ ]:
# Looking at my list of the smallest frame
url=''
url='https://drive.google.com/uc?id=' + url.split('/')[-2]
smallerdf = pd.read_csv(url)
smallerdf.head(2)

group = smallerdf.groupby(['primary_sector'])['sold product vs rev'].mean().reset_index()
group.sort_values(by='sold product vs rev')

                                       primary_sector  sold product vs rev
25                  Oil & gas extraction & production         1.223333e+02
24                            Metallic mineral mining         2.090000e+02
26                               Oil & gas processing         3.586000e+02
23                 Metal smelting, refining & forming         3.885000e+02
27                                Oil & gas retailing         5.620000e+02
18                                Light manufacturing         5.860909e+02
9                             Energy utility networks         6.648182e+02
41                           Transportation equipment         1.122357e+03
33                                  Powered machinery         1.205496e+03
35                         Renewable power generation         3.866000e+03
1                          Bars, hotels & restaurants         3.940000e+03
22                       Metal products manufacturing         4.673000e+03
38                           Thermal power generation         4.960125e+03
29                                    Other materials         6.550500e+03
14                        Industrial support services         7.605000e+03
28                 Oil & gas storage & transportation         9.690000e+03
11                              Fish & animal farming         1.300000e+04
32                      Plastic product manufacturing         1.489000e+04
19                                   Marine transport         2.220000e+04
17                       Leisure & home manufacturing         2.533500e+04
5                                        Construction         3.159800e+04
4                      Commercial & consumer services         3.794000e+04
40  Trading, wholesale, distribution, rental & lea...         4.114167e+04
3                                           Chemicals         5.085730e+04
16            Land & property ownership & development         5.193000e+04
15                   Intermodal transport & logistics         7.769500e+04
2                                    Biotech & pharma         1.023840e+05
21                       Medical equipment & supplies         1.170286e+05
13                          IT & software development         1.489325e+05
20   Media, telecommunications & data center services         2.144564e+05
37                            Textiles & fabric goods         2.324829e+05
39                                            Tobacco         2.625750e+05
31                         Paper products & packaging         2.640000e+05
36                  Specialized professional services         4.380100e+05
6                                  Convenience retail         1.193174e+06
34                        Print & publishing services         1.910333e+06
0                                       Air transport         1.980000e+06
7                                Discretionary retail         2.118701e+06
12                         Food & beverage processing         3.359543e+06
30                                     Other services         5.808200e+06
8                   Electrical & electronic equipment         7.432182e+06
10                                 Financial services         9.926675e+07

In [ ]:
group = smallerdf.groupby(['primary_sector'])['sold product vs rev.1'].mean().reset_index()
group.sort_values(by='sold product vs rev.1')

                                       primary_sector  sold product vs rev.1
25                  Oil & gas extraction & production           1.223333e+02
24                            Metallic mineral mining           2.090000e+02
26                               Oil & gas processing           3.586000e+02
23                 Metal smelting, refining & forming           3.885000e+02
27                                Oil & gas retailing           5.620000e+02
18                                Light manufacturing           5.860909e+02
9                             Energy utility networks           6.648182e+02
41                           Transportation equipment           1.122357e+03
33                                  Powered machinery           1.205496e+03
35                         Renewable power generation           3.866000e+03
1                          Bars, hotels & restaurants           3.940000e+03
22                       Metal products manufacturing           4.673000e+03
38                           Thermal power generation           4.960125e+03
29                                    Other materials           6.550500e+03
14                        Industrial support services           7.605000e+03
28                 Oil & gas storage & transportation           9.690000e+03
11                              Fish & animal farming           1.300000e+04
32                      Plastic product manufacturing           1.489000e+04
19                                   Marine transport           2.220000e+04
17                       Leisure & home manufacturing           2.533500e+04
5                                        Construction           3.159800e+04
4                      Commercial & consumer services           3.794000e+04
40  Trading, wholesale, distribution, rental & lea...           4.114167e+04
3                                           Chemicals           5.085730e+04
16            Land & property ownership & development           5.193000e+04
15                   Intermodal transport & logistics           7.769500e+04
2                                    Biotech & pharma           1.023840e+05
21                       Medical equipment & supplies           1.170286e+05
13                          IT & software development           1.489325e+05
20   Media, telecommunications & data center services           2.144564e+05
37                            Textiles & fabric goods           2.324829e+05
39                                            Tobacco           2.625750e+05
31                         Paper products & packaging           2.640000e+05
36                  Specialized professional services           4.380100e+05
6                                  Convenience retail           1.193174e+06
34                        Print & publishing services           1.910333e+06
0                                       Air transport           1.980000e+06
7                                Discretionary retail           2.118701e+06
12                         Food & beverage processing           3.359543e+06
30                                     Other services           5.808200e+06
8                   Electrical & electronic equipment           7.432182e+06
10                                 Financial services           9.926675e+07